<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plane0</key>
	<dict>
		<key>Name</key>
		<string>Plane0</string>
		<key>CateName</key>
		<string>EPPlane</string>
		<key>InitState</key>
		<string>Fly</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>plane0</string>
		<key>CollisionGroup</key>
		<integer>1</integer>
		<key>Gun</key>
		<dict>
			<key>GunName</key>
			<string>GunType0</string>
			<key>ShootPoint</key>
			<string>{0, 17}</string>
		</dict>
	</dict>
	<key>Land</key>
	<dict>
		<key>Name</key>
		<string>Land</string>
		<key>CateName</key>
		<string>EPLand</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>land</string>
		<key>CollisionGroup</key>
		<string>1</string>
	</dict>
	<key>BulletType0</key>
	<dict>
		<key>Name</key>
		<string>BulletType0</string>
		<key>CateName</key>
		<string>CBulletBase</string>
		<key>Damage</key>
		<integer>10</integer>
		<key>FileType</key>
		<string>ccbi</string>
		<key>CollisionGroup</key>
		<string>1</string>
		<key>Speed</key>
		<integer>240</integer>
		<key>FileName</key>
		<string>bullet0</string>
		<key>InitState</key>
		<string>Ready</string>
	</dict>
	<key>GunType0</key>
	<dict>
		<key>Name</key>
		<string>GunType</string>
		<key>CateName</key>
		<string>CGun</string>
		<key>CacheNum</key>
		<integer>100</integer>
		<key>Frequency</key>
		<real>0.05</real>
		<key>BulletName</key>
		<string>BulletType0</string>
	</dict>
	<key>M1</key>
	<dict>
		<key>Name</key>
		<string>M1</string>
		<key>CateName</key>
		<string>TFMonster</string>
		<key>FileType</key>
		<string>ccbi</string>
		<key>FileName</key>
		<string>m1</string>
		<key>CollisionGroup</key>
		<string>1</string>
	</dict>
</dict>
</plist>
